body { font-family: "DejaVu Sans Condensed", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "DejaVu Sans Extra Light", sans-serif; }

.hidden { display: none; }

.leaflet-container { background-color: #fff; }
.map.static { cursor: default; }
.map.static > .leaflet-control-container { display: none; }
.map > canvas.gradient-border { position: absolute; }
.map-container { float: left; }

.title img {
  margin: 0 107px;
}

section { 
  width: 1200px; 
  margin: auto; 
  margin-bottom: 50px;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

.text-container {
  position: relative;
}

.all-state .map {
  width: 1200px; 
  height: 1300px;
  margin: 0;
}

.all-state .picto-array {
  margin: 0 130px;
}

.milwaukee .map { width: 600px; height: 700px; }

.milwaukee .milwaukee-urban {
  position: absolute;
  top: 0;
  left: 495px;
}

.milwaukee .milwaukee-suburban {
  position: absolute;
  top: 177px;
  left: 500px;
}

.madison .map { width: 450px; height: 400px; }

.fox-valley .map { width: 650px; height: 800px; }

.democrat { fill: #3E67B1; }
.republican { fill: #D54444; }
.independent { fill: #42A942; }
.non-voter { fill: lightgrey; }