body { font-family: "DejaVu Sans Condensed", sans-serif; }
h1, h2, h3, h4, h5, h6{ font-family: "DejaVu Sans Extra Light", sans-serif; }

.hidden { display: none; }

.leaflet-container { background-color: #fff; }
.map.static { cursor: default; }
.map.static > .leaflet-control-container { display: none; }
.map-container { float: left; }
.map > canvas.gradient-border { 
  position: absolute;
  pointer-events: none; 
}
.title img {
  margin: 0 107px;
}

section { 
  width: 1200px; 
  margin: auto; 
  margin-bottom: 50px;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

.text-container {
  position: relative;
}

.all-state .map {
  width: 1200px; 
  height: 1300px;
  margin: 0;
}

.all-state .picto-array {
  margin: 0 130px;
}

.milwaukee .map { width: 600px; height: 700px; }

.milwaukee .milwaukee-urban {
  position: absolute;
  top: 0;
  left: 495px;
}

.milwaukee .milwaukee-suburban {
  position: absolute;
  top: 177px;
  left: 500px;
}

.madison .map { width: 450px; height: 400px; }

.fox-valley .map { width: 650px; height: 800px; }

.democrat { fill: #3E67B1; stroke: #1e3257; }
.republican { fill: #D54444; stroke: #701919; }
.independent { fill: #42A942; stroke: #205320; }
.non-voter { fill: lightgrey; stroke: #676767; }

.icon { shape-rendering: geometricPrecision; }

.icon-matrix { 
  pointer-events: none;
  fill: #000;
  text-shadow: -3px 0 3px #fff, 
                0 3px 3px #fff, 
                3px 0 3px #fff, 
                0 -3px 3px #fff; 
}

.county {
  fill: grey;
  fill-opacity: 0;
}

.county:hover {
  fill-opacity: 0.1;
}

.icon-matrix .heading {
  font-family: "DejaVu Sans Extra Light", sans-serif;
  font-size: 20px;
}

.icon-matrix .info {
  font-size: 10px;
}