body { font-family: "DejaVu Sans Condensed", sans-serif; }

.title {
  margin-top: 40px;
  margin-bottom: 130px;
}

.title h1 {
  font-family: "DejaVu Sans Extra Light", sans-serif;
  font-size: 80px;
  letter-spacing: 0.25em;
}

.hidden { display: none; }

.leaflet-container { background-color: #fff; }

.map.static { cursor: default; }

.map.static > .leaflet-control-container { display: none; }

.map-container { float: left; }

.map > canvas.gradient-border {
  position: absolute;
  pointer-events: none; 
}

svg.legend {
  position: absolute;
  top: 0px;
  pointer-events: none; 
}

.title img {
  margin: 0 107px;
}

section { 
  width: 1200px; 
  margin: auto; 
  margin-bottom: 50px;
}

.map {
  width: 1200px; 
  height: 1300px;
  margin: 0;
  cursor: default;
}

.summary {
  width: 800px;
  margin: auto;
  margin-bottom: 75px;
  padding-top: 60px;
  clear: both;
}

.summary p {
  text-indent: 2em;
}

.democrat { fill: #3E67B1; stroke: #1e3257; }
.republican { fill: #D54444; stroke: #701919; }
.independent { fill: #42A942; stroke: #205320; }
.non-voter { fill: lightgrey; stroke: #676767; }

.icon { shape-rendering: geometricPrecision; }

.icon-matrix { 
  pointer-events: none;
  fill: #000;
  text-shadow: -3px 0 3px #fff, 
                0 3px 3px #fff, 
                3px 0 3px #fff, 
                0 -3px 3px #fff; 
}

.county {
  fill: grey;
  fill-opacity: 0;
}

.county:hover {
  fill-opacity: 0.1;
}

.icon-matrix .heading {
  font-family: "DejaVu Sans Extra Light", sans-serif;
  font-size: 20px;
}

.icon-matrix .info {
  font-size: 10px;
}

.legend text {
  font-size: 12px;
  fill: slategrey;
  text-shadow: -3px 0 3px #fff, 
                0 3px 3px #fff, 
                3px 0 3px #fff, 
                0 -3px 3px #fff; 
}

.legend line {
  stroke: slategrey;
}

.footnotes {
  margin-top: 50px;
  padding: 15px;
  border-width: 1px;
  border-style: dotted;
  border-color: grey;
  background-color: #fcfcfc;
  list-style-type: none;
  font-size: 14px;
}

.footnotes li+li {
  margin-top: 20px;
}