@font-face {
  font-family: "DejaVu Sans";
  src: url("DejaVuSans.ttf");
}

@font-face {
  font-family: "DejaVu Sans Bold";
  src: url("DejaVuSans-Bold.tff");
}

@font-face {
  font-family: "DejaVu Sans Bold Oblique";
  src: url("DejaVuSans-BoldOblique.ttf");
}

@font-face {
  font-family: "DejaVu Sans Extra Light";
  src: url("DejaVuSans-ExtraLight.ttf");
}

@font-face {
  font-family: "DejaVu Sans Condensed";
  src: url("DejaVuSansCondensed.ttf");
}

@font-face {
  font-family: "DejaVu Sans Condensed Bold";
  src: url("DejaVuSansCondensed-Bold.ttf");
}